### İleri Seviye Sayılar

Bazen programlamada sayılarımızı 10'luk taban haricinde 2'lik(binary) ve 16'lık(hexadecimal) tabanda göstermek ve kullanmak isteyebiliriz.

10'luk tabandaki sayıları 2'lik ve 16'lık tabanda göstermeye başlamadan önce şu linklerden 2'lik(binary) ve 16'lık(hexadecimal) tabanları inceleyelim.

https://www.turkcebilgi.com/ikili_(binary)_say%C4%B1_sistemleri

http://www.blogkafem.net/2014/01/sayi-sistemleri.html

Şimdi  10'luk tabandaki bir sayıyı ikilik tabana çevirmek için kullanılan *bin()* fonksiyonuna bakalım.

Bunu örneklerle açıklayayım:
________________________________________________________________
📌Örnek:--> Onluk sistemden ikili sisteme geçiş.
Sayı: 13

13 ÷ 2 = 6 kalan 1

6 ÷ 2 = 3 kalan 0

3 ÷ 2 = 1 kalan 1

1 ÷ 2 = 0 kalan 1

✔️İkili Sistem: 1101

________________________________________________________________


📌Sayı: 1101 (ikilik sistemden onluk sisteme geçiş)

(1 × 2^3) + (1 × 2^2) + (0 × 2^1) + (1 × 2^0)

(1 × 8) + (1 × 4) + (0 × 2) + (1 × 1)

8 + 4 + 0 + 1 = 13

✔️Ondalık Sistem: 13

In [7]:
bin(5) # bin() fonksiyonu ile sayımızı 10'luk tabandan 2'lik tabana(1 ve 0) çektik.

'0b101'

In [14]:
bin(13)

'0b1101'

In [20]:
bin(1205)

'0b10010110101'

_________________________________________
Şimdi de 10'luk tabandaki bir sayıyı 16'lık tabana çevirmek için kullanılan **hex()** fonksiyonuna bakalım.

In [40]:
hex(45)  #sayı 16'lık tabanda yazıldı.

'0x2d'

In [2]:
hex(54) # Sayımız 16'lık tabanda yazıldı.

'0x36'

_________________________________

### Fonksiyonlar

##### 📌abs fonksiyonu
Sayının mutlak değerini almamızı sağlar.

In [11]:
abs(-4)

4

In [13]:
abs(-45)

45

In [15]:
abs(121)

121

#### 📌round fonksiyonu
Sayıları alta veya üste yuvarlar.

In [23]:
round(12.4)

12

In [25]:
round(12.6)

13

In [27]:
round(12.5)

12

In [29]:
round(3.21329321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar

3.2133

In [31]:
round(3.21324321321323,4) # Ondalıklı sayının 4. hanesine göre yuvarlar

3.2132

### max ve min fonksiyonu
📌*max()* fonksiyonu verdiğimiz değerlerin en büyüğünü döndürür.

📌*min()* fonksiyonu verdiğimiz değerlerin en küçüğünü döndürür.

In [34]:
max(12,45,86,78,1,3,985)

985

In [38]:
max([13.2,-4.32,1.2,15.6]) # Sayıları liste şeklinde de verebiliriz.

15.6

In [40]:
min(12,45,86,78,1,-3,985)

-3

### sum fonksiyonu
📌"*sum() fonksiyonu"* verilen değerleri toplayarak döndürür. Değerlerin liste,demet vb. şeklinde verilmesi gerekir.

In [48]:
sum(5,8)

TypeError: 'int' object is not iterable

In [50]:
sum((3,4)) # demet olarak verdik.

7

In [56]:
sum([3,4]) #liste olarak verdik.

7

### 📌pow fonksiyonu
*pow() fonksiyonu* üs alma işlemlerinde kullanılır.

In [59]:
pow(2,5)

32

In [63]:
pow(4,5)

1024