In [43]:
import numpy as np
import pandas as  pd
from numpy.random import randn

In [44]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [45]:
innerIndex = ["Index1","Index2","Index3",  "Index1","Index2","Index3", "Index1","Index2","Index3"]

In [46]:
hierarchy = list(zip(outerIndex,innerIndex)) #zip fonksiyonu ile birle≈ütirelim

In [47]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [48]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [49]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [50]:
df

                Column1   Column2   Column3
Group1 Index1 -0.323341  0.191105 -1.189490
       Index2 -1.733006 -0.930188  0.226700
       Index3  0.579952 -0.042688 -1.721028
Group2 Index1 -1.125960  0.948675  1.105677
       Index2 -0.971265  0.288550 -0.898297
       Index3 -1.476759  0.517813  1.020879
Group3 Index1 -0.410330 -0.607953 -0.056178
       Index2  0.605559  1.595857 -0.930183
       Index3 -0.090550 -0.663570 -0.197403

In [51]:
df["Column1"]

Group1  Index1   -0.323341
        Index2   -1.733006
        Index3    0.579952
Group2  Index1   -1.125960
        Index2   -0.971265
        Index3   -1.476759
Group3  Index1   -0.410330
        Index2    0.605559
        Index3   -0.090550
Name: Column1, dtype: float64

In [52]:
df["Column2"]

Group1  Index1    0.191105
        Index2   -0.930188
        Index3   -0.042688
Group2  Index1    0.948675
        Index2    0.288550
        Index3    0.517813
Group3  Index1   -0.607953
        Index2    1.595857
        Index3   -0.663570
Name: Column2, dtype: float64

In [68]:
df.loc["Group1"] #belli grubu alma

         Column1   Column2   Column3
Index1 -0.323341  0.191105 -1.189490
Index2 -1.733006 -0.930188  0.226700
Index3  0.579952 -0.042688 -1.721028

In [70]:
df.loc["Group2"] #belli grubu alma

         Column1   Column2   Column3
Index1 -1.125960  0.948675  1.105677
Index2 -0.971265  0.288550 -0.898297
Index3 -1.476759  0.517813  1.020879

In [72]:
df.loc["Group3"] #belli grubu alma

         Column1   Column2   Column3
Index1 -0.410330 -0.607953 -0.056178
Index2  0.605559  1.595857 -0.930183
Index3 -0.090550 -0.663570 -0.197403

In [80]:
df.loc[["Group1"] + ["Group2"]] #iki grubu alma

                Column1   Column2   Column3
Group1 Index1 -0.323341  0.191105 -1.189490
       Index2 -1.733006 -0.930188  0.226700
       Index3  0.579952 -0.042688 -1.721028
Group2 Index1 -1.125960  0.948675  1.105677
       Index2 -0.971265  0.288550 -0.898297
       Index3 -1.476759  0.517813  1.020879

In [86]:
df.loc["Group1"].loc["Index1"] #Grup1'de bulunan Index1 elemanlarƒ±

Column1   -0.323341
Column2    0.191105
Column3   -1.189490
Name: Index1, dtype: float64

In [90]:
df.loc["Group1"].loc["Index1"]["Column1"] #Grup1'de bulunan Index1 elemanlarƒ±ndan Colum1'in  deƒüeri

-0.3233406409347382

In [94]:
df.index.names #indexlerimiz ismini sorguluyoruz

FrozenList([None, None])

In [102]:
#her birine isim verelim
df.index.names = ["Groups", "Indexes"]

In [104]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -0.323341  0.191105 -1.189490
       Index2  -1.733006 -0.930188  0.226700
       Index3   0.579952 -0.042688 -1.721028
Group2 Index1  -1.125960  0.948675  1.105677
       Index2  -0.971265  0.288550 -0.898297
       Index3  -1.476759  0.517813  1.020879
Group3 Index1  -0.410330 -0.607953 -0.056178
       Index2   0.605559  1.595857 -0.930183
       Index3  -0.090550 -0.663570 -0.197403

____________________

In [109]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1  -0.323341  0.191105 -1.189490
Index2  -1.733006 -0.930188  0.226700
Index3   0.579952 -0.042688 -1.721028

In [113]:
df.xs("Group1") #aynƒ± i≈ülem

          Column1   Column2   Column3
Indexes
Index1  -0.323341  0.191105 -1.189490
Index2  -1.733006 -0.930188  0.226700
Index3   0.579952 -0.042688 -1.721028

In [133]:
df.xs("Group1").xs("Index1").xs("Column1")

-0.3233406409347382

In [135]:
df.xs("Index1" , level="Indexes")

         Column1   Column2   Column3
Groups
Group1 -0.323341  0.191105 -1.189490
Group2 -1.125960  0.948675  1.105677
Group3 -0.410330 -0.607953 -0.056178