## ðŸ“ˆDataframe TanÄ±mlamalarÄ±

In [3]:
import numpy as np
import pandas as pd

In [27]:
from numpy.random import randn # 0 etrafÄ±nda + ve -li deÄŸerler dÃ¶ndÃ¼recek.

In [37]:
data = randn(3,3)
data

array([[-0.2200579 , -0.25421516,  0.27543108],
       [-0.68015469, -2.12688808, -0.9428854 ],
       [ 0.75405873,  0.63738462,  1.68974089]])

In [43]:
index = ["A","B","C"]

In [59]:
columns = ["Column1","Column2","Column3"]

In [61]:
df = pd.DataFrame(data,index ,columns)

# df = pd.DataFrame(randn(3,3),index = ["A","B","C"]  ,columns = ["SÃ¼tun1","SÃ¼tun2","SÃ¼tun3"] )

In [63]:
df

    Column1   Column2   Column3
A -0.220058 -0.254215  0.275431
B -0.680155 -2.126888 -0.942885
C  0.754059  0.637385  1.689741

ðŸ“Œ

Column1 serisi

Column2 serisi

Column3 serisi

In [68]:
# Column1 Serisi:
df["Column1"]

A   -0.220058
B   -0.680155
C    0.754059
Name: Column1, dtype: float64

In [72]:
type(df["Column1"]) # tipinin bir pandas serisi olduÄŸuna bakalÄ±m

pandas.core.series.Series

In [76]:
df.loc["A"] #A lookasyonunda diÄŸer sÃ¼tunlarÄ±n deÄŸerleri

Column1   -0.220058
Column2   -0.254215
Column3    0.275431
Name: A, dtype: float64

In [80]:
df[["Column1" ,"Column3"]] #iki sÃ¼tunu birlikte alma

    Column1   Column3
A -0.220058  0.275431
B -0.680155 -0.942885
C  0.754059  1.689741

In [86]:
df["Column4"] # HATA fÄ±rlatÄ±r.

KeyError: 'Column4'

In [94]:
df["Column4"] = pd.Series(randn(3), ["A","B","C"]) #SÃ¼tun ekeleme

In [96]:
df

    Column1   Column2   Column3   Column4
A -0.220058 -0.254215  0.275431  0.732685
B -0.680155 -2.126888 -0.942885 -0.033575
C  0.754059  0.637385  1.689741  0.312501

In [98]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [102]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.220058 -0.254215  0.275431  0.732685 -0.198842
B -0.680155 -2.126888 -0.942885 -0.033575 -3.749928
C  0.754059  0.637385  1.689741  0.312501  3.081184

In [106]:
df.drop("Column5" , axis=1 , inplace=True )

In [108]:
df

    Column1   Column2   Column3   Column4
A -0.220058 -0.254215  0.275431  0.732685
B -0.680155 -2.126888 -0.942885 -0.033575
C  0.754059  0.637385  1.689741  0.312501

In [112]:
df.loc["A" , "Column1"] # A satÄ±rÄ±nda Column1 sÃ¼tununda bulunan eleman

-0.2200578971127746