# KAYIP(MISSING) VERILER

In [49]:
import numpy as np
import pandas as pd

------------------------------------------------------------------`**√ñNEMLƒ∞ NOTLAR**`-------------------------------------------------------------------

üìåPandasta `axis` kavramƒ± bir veri √ßer√ßevesinddeki bir `boyutu` temsil eder

`axis=0` bu veri √ßer√ßeveseindeki *SATIRLARI* ifade eder, yani **axis=0** √ºzerinde yapƒ±lan bir i≈ülem her bir satƒ±r √ºzerindeki ekemankar √ºzerinde i≈ülem yapƒ±lƒ±r.

`axis = 1` bu ise veri √ßer√ßevesindeki *S√úTUNLARI* ifade eder. Yani bir i≈ülem **axis=1** √ºzerinde yapƒ±ldƒ±ƒüƒ±nda her bir s√ºtundaki elemanlar √ºzerinde yapƒ±lƒ±r.


_______________________________________________________________________________________________

**√ñrnek:**

In [53]:
df1 = pd.DataFrame({'A': [1,2,3] , 'B':[4,5,6] , 'C':[7,8,9]})
ortalama = df1.select_dtypes(include=['number']).mean(axis=1) #her bir satƒ±rdaki sayƒ±sal s√ºtunlarƒ±n ortalamasƒ±

In [54]:
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [55]:
ortalama

0    4.0
1    5.0
2    6.0
dtype: float64

**√ñRNEK**

In [57]:
#Bir veri √ßer√ßevesindeki t√ºm satƒ±rlarƒ±n toplamƒ±
toplam = df1.sum(axis=0)
toplam

A     6
B    15
C    24
dtype: int64

#### üìå THRESH NEDƒ∞R?
`Thresh` Genellikle g√∂r√ºnt√º i≈üleme ve makine √∂ƒürenimi alanlarƒ±nda kullanƒ±lan bir kavramdƒ±r.
*E≈üikleme veye e≈üik deƒüeri*  olarak da bilinir.
Belirlenilen e≈üik deƒüerine belirlenen i≈ülemin uuygulanamsƒ± √∂rnek verilebilir.

_______________________________

In [60]:
arr  = np.array([[10,20,np.nan] , [5,np.nan,np.nan] , [21,np.nan,10]]) # NaN deƒüerleri ile kayƒ±p veri ekledik.

In [61]:
arr

array([[10., 20., nan],
       [ 5., nan, nan],
       [21., nan, 10.]])

In [62]:
df = pd.DataFrame(arr,  index=["Index1","Index2","Index3"]  ,columns = ["Column1","Column2","Column3"]) # data-index-column

In [63]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [64]:
df.dropna() # NaN i√ßeren satƒ±rlarƒ± sildik

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [65]:
df.dropna(axis = 1) # S√ºtunda en az 1 NaN olan kƒ±sƒ±mlarƒ± sildik.

        Column1
Index1     10.0
Index2      5.0
Index3     21.0

In [83]:
df.dropna(thresh = 2) #e≈üik deƒüeri olarak 2  verdik.  Minimum 2 tane NaN olmayan deƒüer olmasƒ± e≈üiƒüi belirledik.

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index3     21.0      NaN     10.0

In [85]:
df

        Column1  Column2  Column3
Index1     10.0     20.0      NaN
Index2      5.0      NaN      NaN
Index3     21.0      NaN     10.0

In [89]:
df.fillna(value = 100) # NaN deƒüerlerini 100 ile dolduruyoruz

        Column1  Column2  Column3
Index1     10.0     20.0    100.0
Index2      5.0    100.0    100.0
Index3     21.0    100.0     10.0

In [91]:
df.fillna(value =0.1)

        Column1  Column2  Column3
Index1     10.0     20.0      0.1
Index2      5.0      0.1      0.1
Index3     21.0      0.1     10.0

‚û°Ô∏èNaN deƒüerlerini t√ºm deƒüerlerin ortalamasƒ±yla g√ºncelleyelim

In [96]:
df.sum() #Her s√ºtunun toplamƒ±

Column1    36.0
Column2    20.0
Column3    10.0
dtype: float64

In [100]:
df.sum().sum() # Her deƒüerin toplamƒ±

66.0

In [104]:
df.size # Dataframedeki toplam eleman sayƒ±sƒ±

9

In [110]:
df.isnull().sum() # Her S√ºtunda ka√ß NaN var ?

Column1    0
Column2    2
Column3    2
dtype: int64

In [112]:
df.isnull().sum().sum() # Toplam NaN sayƒ±sƒ±

4

In [134]:
#NaN bo≈üluklarƒ±nƒ± Df ortalmasƒ± ile dolduralƒ±m

def ortalamaBul(df):
    totalSum = df.sum().sum()
    totalNum = df.size - df.isnull().sum().sum()
    return totalSum / totalNum    
    
df.fillna(value = ortalamaBul(df))

        Column1  Column2  Column3
Index1     10.0     20.0     13.2
Index2      5.0     13.2     13.2
Index3     21.0     13.2     10.0