## Pandas Veri Analizi - U.S Major League Soccer Salaries Veri Analizi

##### Pandas'ı Dahil Edin

In [7]:
import pandas as pd
import numpy as np

##### VeriSetini Okuyun

In [13]:
dataset = "C:\\Users\\ERKAN TURGUT\\Desktop\\MyJupyterNotebookNotes\\PANDAS\\mls-salaries-2017.csv"
soccer = pd.read_csv(dataset)

In [15]:
soccer

,club,last_name,first_name,position,base_salary,guaranteed_compensation
0,ATL,Almiron,Miguel,M,1912500.0,2297000.00
1,ATL,Ambrose,Mikey,D,65625.0,65625.00
2,ATL,Asad,Yamil,M,150000.0,150000.00
3,ATL,Bloom,Mark,D,99225.0,106573.89
4,ATL,Carleton,Andrew,F,65000.0,77400.00
...,...,...,...,...,...,...
611,VAN,Tornaghi,Paolo,GK,80000.0,80000.00
612,VAN,Waston,Kendall,D,350000.0,368125.00
613,VAN,Williams,Sheanon,D,175000.0,184000.00
614,NaN,Babouli,Mo,F,54075.0,54075.00
615,NaN,Ramajo,David Mateos,D,420000.0,453333.33

##### İlk 10 Veriyi Okuyun

In [19]:
soccer.head(n=10) #ilk 10 veri

,club,last_name,first_name,position,base_salary,guaranteed_compensation
0,ATL,Almiron,Miguel,M,1912500.0,2297000.00
1,ATL,Ambrose,Mikey,D,65625.0,65625.00
2,ATL,Asad,Yamil,M,150000.0,150000.00
3,ATL,Bloom,Mark,D,99225.0,106573.89
4,ATL,Carleton,Andrew,F,65000.0,77400.00
5,ATL,Carmona,Carlos,M,675000.0,725000.00
6,ATL,Garza,Greg,D,150000.0,150000.00
7,ATL,Gonzalez Pirez,Leandro,D,250008.0,285008.00
8,ATL,Goslin,Chris,M,70000.0,74000.00
9,ATL,Gressel,Julian,M,75000.0,93750.00

##### Kaç tane Veri Olduğunu Bulun(Satır Sayısı)

In [23]:
len(soccer.index)

616

##### Tüm Maaşların Ortalaması Bulun.

In [27]:
soccer["base_salary"].mean()

296977.7368668831

##### En yüksek maaşı bulun

In [29]:
soccer["base_salary"].max()

6660000.0

##### En yüksek tazminata sahip futbolcunun soyadını bulun

In [37]:
soccer[soccer["guaranteed_compensation"].max() == soccer["guaranteed_compensation"]]

    club last_name first_name position  base_salary  guaranteed_compensation
401  ORL      Kaka        NaN        M    6660000.0                7167500.0

In [41]:
soccer[soccer["guaranteed_compensation"].max() == soccer["guaranteed_compensation"]]["last_name"]

401    Kaka
Name: last_name, dtype: object

##### "Gonzalez Pirez" isimli futbolcunun oynadığı mevkiyi bulun.

In [47]:
pos = soccer[soccer["last_name"] == "Gonzalez Pirez"]["position"].iloc[0]
print("Position: " ,pos)

Position:  D

##### Mevkilere göre futbolcuları gruplayarak mevkilerde ortalama maaşları bulun

In [53]:
soccer.groupby("position").mean()

TypeError: agg function failed [how->mean,dtype->object]

##### Verisetinde kaç farklı mevki olduğunu hesaplayın.

In [57]:
soccer["position"].nunique()

10

##### Her mevkide kaç oyuncunun olduğunu hesaplayın

In [59]:
soccer["position"].value_counts()

position
M      212
D      185
F      109
GK      65
M-F     19
D-M     14
F-M      6
M-D      4
M/F      1
F/M      1
Name: count, dtype: int64

##### Her takımda kaç kişinin oynadığını hesaplayın.

In [61]:
soccer["club"].value_counts()

club
VAN      32
PHI      31
ATL      31
CLB      30
ORL      30
DAL      29
SJ       29
NYCFC    28
HOU      28
NYRB     28
TOR      27
RSL      27
POR      27
MTL      27
CHI      27
MNUFC    27
LA       27
DC       27
KC       26
COL      26
SEA      25
NE       23
LAFC      2
Name: count, dtype: int64

##### Soyadlarının içinde "son" geçen futbolcuları bulun

In [70]:
def re_find(last_name):  #Son karakterini bulan fonksiyon
        if "son" in last_name.lower():
            return True
        return False


soccer[soccer["last_name"].apply(re_find)]

,club,last_name,first_name,position,base_salary,guaranteed_compensation
21,ATL,Peterson,Jacob,F,165300.00,165300.00
23,ATL,Robinson,Miles,D,125000.04,195000.04
45,CHI,Johnson,Daniel,M,65004.00,65004.00
48,CHI,Lampson,Matt,GK,76000.00,81375.00
85,CLB,Swanson,Ben,M,85000.00,105416.67
163,DC,Robinson,Jalen,D,69996.00,69996.00
233,LA,Jamieson,Bradford,F,66150.00,66150.00
265,MNUFC,Ibson,NaN,M,200004.00,210337.40
276,MNUFC,Thiesson,Jerome,D,171000.00,210166.67
295,MTL,Jackson-Hamel,Anthony,F,66150.00,66150.00
327,NE,Watson,Je-Vaughn,D-M,150000.00,155666.67
338,NYCFC,Harrison,Jack,M,130000.00,165500.00
341,NYCFC,Johnson,Sean,GK,220008.00,220008.00
400,ORL,Johnson,Will,M,414000.00,450000.00
442,PHI,Simpson,Jay,F,465000.00,508333.33
459,POR,Gleeson,Jake,GK,110000.00,115166.67
522,SEA,Svensson,Gustav,M,170000.04,170000.04
550,SJ,Thompson,Tommy,M,150000.00,155000.00
594,VAN,Jacobson,Andrew,M,150000.00,175000.00