## Tabloya Veri Ekleme

In [1]:
import sqlite3 # Sqlite'yı dahil ediyoruz

con = sqlite3.connect("kütüphane.db") # Tabloya bağlanıyoruz(oluşturuyoruz).

cursor = con.cursor() # cursor isimli değişken veritabanı üzerinde işlem yapmak için kullanacağımız imleç olacak.

def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") # Sorguyu çalıştırıyoruz(execute=yürütme)
    con.commit() # Sorgunun veritabanı üzerinde geçerli olması için commit işlemi gerekli.
tablo_oluştur()
con.close() # Bağlantıyı koparıyoruz.

#Şu anda veritabanımıza bağlandık ve kitaplık isimli bir tablonun oluştuğunu görebiliriz.

Şimdi de *kitaplık* tablomuza veri eklemeye çalışalım. Çalıştıracağımız sorgu şu olacak;

***INSERT INTO kitaplık VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',561)***

*Not : SQL Sorguları büyük veya küçük harfle de yazılabilir. Örnek olarak*

***insert into kitaplık values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)***

***Insert Into kitaplık Values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)***

In [31]:
import sqlite3 

con = sqlite3.connect("kütüphane.db")

cursor = con.cursor() 

def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") 
    con.commit()
def deger_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("INSERT INTO kitaplık VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',261)")
    con.commit()
deger_ekle()
con.close()

##### ‼️Peki kullanıcıdan aldığımız değerleri tabloya nasıl ekliyoruz ? Onun için de sorgumuzu ve kodumuzu biraz değiştireceğiz.

In [33]:
import sqlite3 

con = sqlite3.connect("kütüphane.db")

cursor = con.cursor() 


def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") 
    con.commit()


def deger_ekle(isim1,yazar1,yayınevi1,sayfa_sayısı1): #parametre değerlerini eklemek için kullanıyoruz.
    
    cursor.execute("INSERT INTO kitaplık VALUES(?,?,?,?)",(isim1,yazar1,yayınevi1,sayfa_sayısı1))
    con.commit()
    
isim = input("İsim:")
yazar = input("Yazar:")
yayınevi = input("Yayınevi:")
sayfa_sayısı =  int(input("Sayfa Sayısı:"))


deger_ekle(isim,yazar,yayınevi,sayfa_sayısı) #gelen değeri parametre olarak verdik.

con.close()

İsim: Erkan
Yazar: Tugrut
Yayınevi: ABC
Sayfa Sayısı: 456

*?* işaretlerinin herbirinin yerine fonksiyona değer olarak gönderdiğimiz isim , yazar, yayıevi ve sayfa sayısı bilgileri gidiyor ve tablomuza bu şekilde veri ekleyebiliyoruz.